<div class="col-md-12">
		<div class="well">

			<h3>
				<%= link_to task.description, task, remote: true, method: :delete, data: { confirm: "Are you sure?" } %>
			</h3> 
			<p>
				<%= task.deadline %>
			</p>  
			<p class="pull-right">
				<%= link_to edit_task_path(task), remote: true do %>
			
			<i class="fa fa-pencil"></i>Edit
			<% end %>
				<%= link_to task, remote: true, method: :delete, data: { confirm: 'Are you sure?' } do %>
			<i class="fa fa-trash"></i>Delete
		<% end %>	
 		</p>  
	</div>
</div>