<div class="row">
		<div class="col-md-3 mtop-25">

		<%= link_to new_task_path, remote: true do %>
		<button class="btn-default">
			<i class="fa fa-tasks"></i> Add Task
		</button>
		<% end %>
		<div id="task-form" style="display:none;"></div>
		</div>

		<div class="col-md-8 col-md-offset-1">
		    <h1>My Tasks</h1>
		    <div id="tasks">
		    	<div class="row">
		     	 <%= render @tasks %>

	    </div>
		</div>
	</div>
</div>